{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block content  %}
    <div class="row">
        <div class="col-12 col-md-4 mx-auto mt-5">
            <h1>Se connecter</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-secondary" type="submit">Connecter</button>
            </form>
            <div class="pt-3">
                <smail class="text-method">Créer un compte
                    <a bref='{% url 'register' %}' class="ml-3" type="submit">S'inscrire</a>
                </smail>
            </div>
        </div>
    </div>
{% endblock content %}