{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block content  %}
    <div class="row">
        <div class="col-11 col-md-4 mx-auto mt-5">
            <h1>S'inscrire</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-secondary" type="submit">S'inscrire</button>
            </form>
            <div class="pt-3">
                <smail class="text-method">Vous avez déjà un compte
                    <a bref='{% url 'login' %}' class="ml-2" type="submit">Se connecter</a>
                </smail>
            </div>
        </div>
    </div>
{% endblock content %}